:root{
    --light-blue: #59C8D8;
    --hero-block-bg: #BAFAFA;
    --card-blue: #5B8CD4;
    --card-light-blue: #5AB7CE;
    --card-sea-blue: #91CFE9;
    --card-green: #6FCDB9;
    --info-card-font: 'Montserrat Subrayada', sans-serif;
}

*,
::after,
::before{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    gap: 24px;
    padding: 0 14px;
}

header{
    grid-column: 2 / span 10;
    grid-row: 1;
}

main{
    grid-column: 2 / span 10;
    grid-row: 2;
}

footer{
    grid-column: 2 / span 10;
    grid-row: 3;
}


/* reset css */

li{
    list-style: none;
}

a{
    text-decoration: none;
}



/* header style */
.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.nav-branding{
    font-size: 2rem;
}

.nav-link{
    transition: 0.7s ease;
}

.nav-link:hover{
    color: var(--light-blue);
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #000;
}

/* header-hero */
.hero{
    width: 100%;
}

.hero-img img{
    width: 100%;
    object-fit: cover;
}

/* main section */

/* info */
.info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.info-card{
    width: 250px;
    height: 200px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    font-family: var(--info-card-font);
    color: #EFFAFE;
}

.phone{background-color: var(--card-blue);}

.calendar{ background-color: var(--card-light-blue);}

.location{background-color: var(--card-sea-blue);}

.e-mail{background-color: var(--card-green);}

.fa-solid{font-size: 1.5rem;}